@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@10..48,200&family=Inter&display=swap');

body{
    font-family:'Inter',sans-serif,Arial;
    font-weight: bold;
}

header{
    background-color: #ECF1ED;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    max-height: 100px;
}

header .caixa{
    height: 10px;
    width: 130px;
    border: 2px solid #7C96A5;
    border-radius: 45px;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
    margin: 33px 10px;
    padding: 10px;
    text-align: center;
    display: inline-block;
}

header #linha{
    width: 0;
    height: 100px; 
    border-left: 2px solid #000000; 
}

header h1{
    margin: 41px 0;
    font-size: 25px;
    text-align: center;
}

header img{
    max-width: 100%;
    height: 24px;
    float: left;
    margin: 39px 10px;
}

main {
    display: flex;
    flex-direction: row;
    margin-top: 69px;
    height: 100px;
}

main #estrada {
    background-image: url(../img/porto\ 4\ 1.png);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 315px;
}

aside #fundo{
    background-image: url(../img/Rectangle\ 13.png);
    background-size:cover;
    background-repeat: no-repeat;
    margin-left: 50px;
}

aside #fundo p{
    font-size: 30px;
    padding:25px 25px;
    text-align: left;
    justify-content: left;
}

aside #fundo p span{
    color:#01A1FD;
}

aside #fundo #portinho{
    background-image: url(../img/Portinho\ 1.png);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100px;
    height: 139px;
    margin: -133px 0;
}

aside #fundo h2{
    font-size: 25px;
    margin-top: 144px;
    padding-left: 144px;
}

#section{
    background-color: #ECF1EC;
    height: 409px;
}


#section .imagens{
    background-color: #ECF1ED;
    display: flex;
    flex-direction: row;
    margin-top: 310px;
    width: 100%;
}

#section .imagens #imagem1 , .imagens #imagem2  {
    width: 268px;
    height: auto;
    transform: scale(2.78);
    margin-right: 132px;
    margin-top: 131px;
    margin-left: 225px;
}

#section .imagens #imagem2{
    width: 354px;
 }

footer{
    background-color: #000000;
    background-repeat: no-repeat;
    height: 35px;
    width:100%;
    margin-top:85px;
    display: inline-flex;
    flex-direction:row;
}

footer #plataformas{
    background-image: url(../img/Porto\ em\ todas\ as\ plataformas\ digitais.png);
    background-repeat: no-repeat;
    width: 279px;
    margin: 10px 0;
    margin-left: 85px;
}

footer #logos{
    background-image: url(../img/image\ 1.png);
    background-repeat: no-repeat;
    width: 279px;
    margin-left: 19px;
}

footer #app{
    background-image: url(../img/baixe\ o\ app.png);
    background-repeat: no-repeat;
    width: 279px;
    margin: 10px 0;
    margin-left: 27px;
    margin-right: -172px;
}

footer #sistemas{
    background-image: url(../img/image\ 3.png);
    background-repeat: no-repeat;
    width: 279px;
}

footer #porto{
   background-image: url(../img/image\ 2.png);
    background-repeat: no-repeat;
    width: 279px;
    margin-left: 165px;
}


    
